div div {
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-bottom: 10px;
}

.fila1 .col1 {
    background-color: #ff0000;
    cursor: pointer;
    border: 3px solid;
    border-color: #9900ff;
}
.fila1 .col2 {
    background-color: #00ff00;
    cursor:alias;
    border: 3px double;
    border-color: #ff0000;
}
.fila1 .col3 {
    background-color: #0000ff;
    cursor:all-scroll;
    border: 3px dashed;
    border-color: #00ff00;
}
.fila1 .col4 {
    background-color: #ff9900;
    cursor:auto;
    border: 3px dotted;
    border-color: #0000ff;
}
.fila1 .col5 {
    background-color: #9900ff;
    cursor:copy;
    border: 3px groove;
    border-color: #ff9900;
}

.fila2 .col1 {
    background-color: #ff0000;
    cursor: pointer;
    border: 3px solid;
    border-color: #9900ff;
}
.fila2 .col2 {
    background-color: #00ff00;
    cursor:alias;
    border: 3px double;
    border-color: #ff0000;
}
.fila2 .col3 {
    background-color: #0000ff;
    cursor:all-scroll;
    border: 3px dashed;
    border-color: #00ff00;
}
.fila2 .col4 {
    background-color: #ff9900;
    cursor:auto;
    border: 3px dotted;
    border-color: #0000ff;
}
.fila2 .col5 {
    background-color: #9900ff;
    cursor:copy;
    border: 3px groove;
    border-color: #ff9900;
}

.fila3 .col1 {
    background-color: #ff0000;
    cursor: pointer;
    border: 3px solid;
    border-color: #9900ff;
}
.fila3 .col2 {
    background-color: #00ff00;
    cursor:alias;
    border: 3px double;
    border-color: #ff0000;
}
.fila3 .col3 {
    background-color: #0000ff;
    cursor:all-scroll;
    border: 3px dashed;
    border-color: #00ff00;
}
.fila3 .col4 {
    background-color: #ff9900;
    cursor:auto;
    border: 3px dotted;
    border-color: #0000ff;
}
.fila3 .col5 {
    background-color: #9900ff;
    cursor:copy;
    border: 3px groove;
    border-color: #ff9900;
}

.fila2 div {
    border-radius: 5px;
}

.fila3 div {
    border-radius: 50%;
}

.fila1, .fila2, .fila3 {
    display: grid;
    grid-template-columns: repeat(5, 120%);

}